ENVIRONMENT=development
SECRET_KEY=generate_a_random_string_here
ALGORITHM=change_me_in_real_env

POSTGRES_SERVER=localhost
POSTGRES_PORT=5444
POSTGRES_DB=nidus_core
POSTGRES_TEST_DB=nidus_test

APP_USER=nidus_app_user
APP_PASSWORD=change_me_in_real_env

ADMIN_USER=nidus_admin
ADMIN_PASSWORD=change_me_in_real_env